# En producción (Vercel) conecta Vercel Postgres o Neon:
# DATABASE_URL="postgresql://user:password@host:5432/refugio?sslmode=require"
# En desarrollo local:
DATABASE_URL="file:./dev.db"

# NextAuth Secret (genera uno con: openssl rand -base64 32)
NEXTAUTH_SECRET="refugio-super-secret-key-change-in-production-123456"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Admin email
ADMIN_EMAIL="admin@refugio.com"

# Resend (Emails) - https://resend.com
RESEND_API_KEY="re_123456789"
RESEND_FROM_EMAIL="onboarding@resend.dev"

# Vercel Blob (Imágenes WebP)
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_..."
